html, 
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background: #849fb9;
  background: url(assets/background-progressive.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main {
  display: flex;
  width: 100%;
  max-width: 650px;
  height: 100%;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px RGBA(0, 0, 0, 0.6);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar,
.content {  
  height: 100%;
}

/* ----- Sidebar (left column) ----- */
.sidebar {
  width: 150px;
  color: white;
  background: #212435;
  background-image: linear-gradient(RGBA(16, 16, 34, 0.8), RGBA(16, 16, 34, 0.8)), url(assets/background-blurred.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* ----- Statusbar (OS buttons) ----- */
.statusbar {
  padding-left: 15px;
  padding-top: 15px;
  height: 25px;
  background: #101022;
  border-top-left-radius: 10px;
}
.statusbar-item {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.close {
  background: #fc584e;
}
.minimise {
  background: #f2b21b;
}
.fullscreen {
  background: #00cd46;
}

/* ----- Navigation filters ----- */
.filters-item {
  padding-left: 17px;
  padding-right: 32px;
  font-size: 0.875em; /* 14px */
  line-height: 50px;
  transition: background 0.2s linear;
  /* flexible layout adaptations */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.filters-item.selected {
  background: #292a48;
}
.filters-item:not(.selected):hover {
  cursor: pointer;
  background: #34365C;
}
.filters-item:not(.selected):active {
  background: #101022;
}
.filters-item img {
  vertical-align: text-top;
  margin-right: 10px;
}
.count {
  color: #8a8995;
  /* flexible layout adaptations */
  position: absolute;
  top: 0;
  right: 17px;
}

/* ----- Content (right column) ----- */
.content {
  flex-grow: 1;
  font-weight: 400;
  box-sizing: border-box;
  overflow: auto;
  background: #f6f6f6;
  border-right: 10px solid #f6f6f6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content li {
  margin: 5px 10px 5px 15px;
}
.content-item {
  padding-left: 12px;
  padding-right: 38px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 0.9375em; /* 15px */
  line-height: 38px;
  background: #fff;
  /* flexible layout adaptations */
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.favorite {
  float: right;
  width: 38px;
  height: 38px;
  background-image: url(assets/icon-star-sprite.svg);
  background-position: top;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s linear;
  /* flexible layout adaptations */
  position: absolute;
  right: 0;
}
.favorite:hover {
  background-color: #f6f6f6;
}
.favorite:active {
  background-color: #e0e0e0;
}
.favorite.selected {
  background-position: bottom;
}
.date {
  color: #8a8995;
  font-size: 0.75em; /* 12px */
  line-height: 1.667;
}
